body {
    /* font-family: 'Raleway', 'Montserrat', sans-serif; */
    background: #23282d!important;
    color: #ffffff !important;
}

.mt-9{
    margin-top: 9px;
}

.mt-12{
    margin-top: 12px;
}

.terminalButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    /* top: 4px; */
    left: 6px;
    background-color: #ff3b47;
    border-color: #9d252b;
    display: inline-block;
  }
  
  .terminalMinimize {
    left: 11px;
    background-color: #ffc100;
    border-color: #9d802c;
  }
  
  .terminalZoom {
    left: 16px;
    background-color: #00d742;
    border-color: #049931;
  }
  
  .terminalMenu {
    width: auto;
    box-sizing: border-box;
    height: 25px;
    background-color: #100f0f;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .terminalScreen {
    background-color: #151515;
    box-sizing: border-box;
    width: auto;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  /* p {
    position: relative;
    left: 50%;
    margin-left: -8.5em;
    text-align: left;
    font-size: 1.25em;
    font-family: monospace;
    white-space: normal;
    overflow: hidden;
    width: 0;
  } */
  
  .btn-link{
      color: #ffffff!important;
      text-decoration: none !important;
  }

  #terminal-text {
      font-style: italic;
      font-size: 16px;
  }

  .socials{
      margin-top: 80px;
  }
  .socials a{
      color: #838588;
      width: 30px;
      height: 30px;
      padding: 6px 0;
      margin-right: 10px;
      text-align: center;
      border-radius: 15px;
      border: 1px solid #838588;
      text-decoration: none!important;
  }

  .text-footer{
    color: #6c757d!important;
    margin-top: 5px;
    font-size: 14px;
  }